@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url(//db.onlinewebfonts.com/c/cb6b311cb8a64db8b1321e7ac23ff2a9?family=Revival565+BT);

:root {
  --white: #fff;
  --black: #000;
  --brick-red: #C3262F;
  --font1: 'Roboto', sans-serif;
  --font2: 'Revival565 BT', serif;
}

* {
  margin: 0;
  padding: 0;
  color: var(--white);
  box-sizing: border-box;
  font-family: var(--font1);
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.responsive {
  margin: 0 auto;
}

.landing-page {
  background-color: var(--brick-red);
}

.content {
  width: 100%;
  height: 100vh;
  padding: 5rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.headline {
  width: inherit;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.headline h1 {
  width: 65%;
  font-family: var(--font2);
  font-size: 7.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1;
}

.headline p {
  width: 65%;
  font-size: 1.5rem;
  font-weight: 400;
}

.socials {
  width: inherit;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials a {
  color: var(--black);
  font-family: var(--font2);
  text-decoration: underline;
}

.socials a:hover {
  font-style: italic;
  text-decoration: none;
}


@media screen and (min-width: 320px) {
  .responsive {
    max-width: 270px;
  }

  .headline h1 {
    width: 90%;
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 375px) {
  .responsive {
    max-width: 320px;
  }

  .headline h1 {
    width: 90%;
    font-size: 3rem;
  }

  .headline p {
    width: 100%;
    font-size: 1.2rem;
  }

  .socials {
    font-size: 1.2rem;
    align-items: flex-start;
    flex-direction: column;
  }

  .socials a {
    margin-top: 1rem;
  }
}


@media screen and (min-width: 425px) {
  .responsive {
    max-width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .responsive {
    max-width: 655px;
  }

  .headline h1 {
    width: 75%;
    font-size: 5rem;
  }

  .headline p {
    width: 100%;
    font-size: 1.2rem;
  }

  .socials {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: initial;
  }

  .socials a {
    margin-top: none;
  }
}

@media screen and (min-width: 992px) {
  .responsive {
    max-width: 840px;
  }

  .headline h1 {
    width: 80%;
    font-size: 7.5rem;
  }

  .headline p {
    width: 65%;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .responsive {
    max-width: 1160px;
  }

  .headline h1 {
    width: 65%;
  }
}